name: Build Arexibo DEB

on:
  push:
    tags: ['v*']
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    uses: xibo-players/.github/.github/workflows/build-deb.yml@main
    with:
      package-name: arexibo
      deb-script: 'deb/build-deb.sh'
      arch-matrix: '["amd64", "arm64"]'
      extra-build-deps: 'cargo cmake g++ libdbus-1-dev libzmq3-dev qt6-webengine-dev libudev-dev pkg-config'
      gpg-sign: true
      default-version: '0.3.1'
      publish-to-repo: true
      create-github-release: true
    secrets: inherit
